@charset "UTF-8";

/*Typical Device Breakpoints
tablets: de 768 até 1024px
desktops: de 1024 até 1280px
grandes desktops: acima de 1280px
*/

/*o que eu quero modificar pra minha versão tablet?*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    body {
        background-image: linear-gradient(to top, #DAAC8D, #006162); /*degradê*/
    }

    section#login {
        width: 90vw; /*pra ficar maior quando aumentar*/
    }

    section#login > div#imagem {
        float: left; /*como o display tá BLOCK, eu coloco um bloco do lado do outro*/
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-image: linear-gradient(to top, #DAAC8D, #006162); /*degradê*/
    }
    section#login {
        width: 1020px;
    }
    
    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#fomulario {
        float: right;
        width: 50%;
    }
}