@charset "UFT-8";

/*
paleta de cores:
verde: #006162
gelo: #E8E8E8
marrom claro: #DAAC8D
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #006162;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden; /*pra esconder a foto na borda*/

    background-color:#E8E8E8;
    width: 250px; /*esse tamanho por ser mobile first*/
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.444);

    transition: width .3s, height .3s; /*efeito de animação*/
    transition-timing-function: ease; /*suavizar ela*/
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #DAAC8D url(../imagens/imagem-praia.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center bottom;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #DAAC8D;
    border: 2px solid #028b8d6f;
    display: block; /*toda div já é um bloco*/
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px; /*cima e baixo 5, esquerda direita 0*/
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #f6d9c55b;
    font-size: 1em;
    width: calc(100% - 44.5px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 2px;
    transform: translateY(-12px); /*colocar uma animação, transformação, por último*/
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 0.9em;
    width: 100%;
    height: 40px;
    background-color: #017072;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #004d4e;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 0.9;
    width: 100%;
    height: 30px;
    padding-top: 2px;
    margin-top: 5px;
    background-color: white;
    color: #003233;
    border: 1px solid #004d4e;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #00b0b3;
}

form > a.botao > span {
    font-size: 0.8em;
}