@charset "UFT-8";

/*
paleta de cores:
verde: #006162
gelo: #E8E8E8
marrom claro: #DAAC8D
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #006162;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*pra esconder a foto na borda*/

    background-color:#E8E8E8;
    width: 250px; /*esse tamanho por ser mobile first*/
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.444);
}

section#login > div#imagem {
    display: block;
    background: #DAAC8D url(../imagens/imagem-praia.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center bottom;
}

section#login > div#formulario {
    display: block ;
    padding: 10px;
}